<div class="content about-me">
  <div class="foto">
    <div class="block-img">
      <img
        class="foto-img"
        src="./assets/img/photo_5276485087300538837_y.jpg"
        alt=""
      />
    </div>
  </div>
  <div class="about">
    <div
      class="block-information"
      style="
        width: 76%;
        display: inline-flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: space-around;
      "
    >
      <h3>Контактная информация</h3>
      <p class="shared" style="font-weight: 700">Саламатин Андрей</p>
      <p class="shared">
        <span class="span-width">Email:</span>
        <a href="mailto:salamatin.dev@gmail.com">{{
          "salamatin.dev@gmail.com"
        }}</a>
      </p>
      <p class="shared">
        <span class="span-width">Linkedin:</span>

        <a href="https://www.linkedin.com/in/salamatin-dev/" target="_blank"
          >linkedin.com/in/salamatin-dev</a
        >
      </p>
      <p class="shared">
        <span class="span-width">Github:</span>

        <a href="https://github.com/SalamatinAV" target="_blank"
          >github.com/SalamatinAV</a
        >
      </p>
    </div>
  </div>
  <div class="info">
    <div class="block-information">
      <h3>Навыки</h3>
      <p class="shared skills-flex">
        <span class="skills" *ngFor="let item of skills">{{ item }} </span>
      </p>
    </div>
    <div class="block-information">
      <h3>Профиль</h3>
      <p class="shared">
        Я начинающий Frontend Developer с более чем годом обучения и опытом
        создания проектов на технологии Angular. Несмотря на отсутствие
        коммерческого опыта, меня вдохновляет страсть к созданию
        высококачественных веб-приложений. Мой подход к разработке веб-решений
        основан на неутолимом желании достичь выдающихся результатов. Я готов к
        постоянному обучению, развитию и полному вложению усилий в свой
        профессиональный рост. Сильная база в Angular, сочетанная с моим
        энтузиазмом, делает меня преданным специалистом, готовым с полной
        отдачей вкладываться в свой профессиональный путь. Я с нетерпением жду
        возможности применить свои навыки и знания для значимого вклада в
        развитие сообщества разработчиков. Готов принимать новые вызовы с
        открытым сознанием и решимостью преуспеть.
      </p>
    </div>
    <div class="block-information">
      <h3>Опыт работы</h3>
      <p class="shared">
        Сборщик стабилизаторов и источников бесперебойного питания 2011 – 2023
      </p>
      <p class="shared">
        • Ответственность за сборку и тестирование стабилизаторов напряжения
      </p>
      <p class="shared">• Ремонт и настройка оборудования</p>
    </div>
    <div class="block-information">
      <h3>Образование</h3>
      <p class="shared">ОНАС им. О.С Попова 2010 – 2015</p>
      <p class="shared">• Инженер по радиоэлектронике</p>
    </div>
  </div>
</div>
