<div class="works-content">
  <div class="works-link">
    <a
      class="img-link"
      href="https://salamatinav.github.io/ToDoListAngular/"
      target="_blank"
    >
      <div class="image-container">
        <mat-icon class="icon-fonts"> open_in_new </mat-icon>
        <img
          class="works-img"
          style="object-fit: fill"
          src="./assets/img/todo.JPG"
          alt=""
        />
      </div>
    </a>
  </div>
  <div class="works-info">
    <div class="block-information">
      <h4><strong>Название приложения:</strong> Список Дел</h4>

      <p>
        <strong>Технология:</strong> Приложение разработано с использованием
        Angular.
      </p>

      <p><strong>Основные характеристики приложения:</strong></p>

      <ul>
        <li>
          Приложение предоставляет пользователю удобный способ организации
          задач. В основном окне размещены две колонки, где пользователь может
          видеть свой текущий список дел и список уже выполненных задач.
        </li>

        <li>
          Пользователь может легко добавлять новые задачи, вводя название в
          соответствующее поле и нажимая кнопку "Добавить". Когда задача
          добавляется, она отображается в колонке "Список задач" с указанием
          названия задачи, даты и времени её добавления, а также кнопки для
          выполнения задачи.
        </li>

        <li>
          После выполнения задачи пользователь может кликнуть на кнопку
          "Выполнено", и задача перемещается в колонку "Список Выполненных
          задач". При этом задача автоматически удаляется из колонки "Список
          задач". В колонке "Список Выполненных задач" также отображаются
          название задачи, дата и время выполнения, а также кнопка для удаления
          задачи из списка выполненных дел.
        </li>
      </ul>
    </div>
  </div>
</div>
