<div class="content padding">
  <mat-tab-group animationDuration="800ms">
    <mat-tab label="Словарь"><app-dictionary></app-dictionary></mat-tab>
    <mat-tab label="Поиск изображений"
      ><app-image-finder></app-image-finder
    ></mat-tab>
    <mat-tab class="re" label="Стрелочные Часы"
      ><app-clock-angular></app-clock-angular>
    </mat-tab>
    <mat-tab label="Конвертер валют"
      ><app-exchange-rate></app-exchange-rate
    ></mat-tab>
    <mat-tab label="Список дел"><app-todo-angular></app-todo-angular></mat-tab>
    <mat-tab label="Калькулятор"><app-calculator></app-calculator></mat-tab>
    <mat-tab label="Часы"> <app-clock-js></app-clock-js></mat-tab>
  </mat-tab-group>
</div>
