<div class="content padding">
  <mat-tab-group animationDuration="1200ms">
    <mat-tab label="Поиск изображений"> Поиск изображений </mat-tab>
    <mat-tab class="re" label="Часы Angular"
      ><app-clock-angular></app-clock-angular>
    </mat-tab>
    <mat-tab label="Часы JS"> <app-clock-js></app-clock-js></mat-tab>
    <mat-tab label="Список дел Angular">Список дел Angular</mat-tab>
    <mat-tab label="Список дел JS"> Список дел JS</mat-tab>
    <mat-tab label="Калькулятор">Калькулятор</mat-tab>
    <mat-tab label="Обмен сообщениями">Обмен сообщениями</mat-tab>
  </mat-tab-group>
</div>
