<div class="works-content">
  <div class="works-link">
    <a
      class="img-link"
      href="https://salamatinav.github.io/clock_js/"
      target="_blank"
    >
      <div class="image-container">
        <mat-icon class="icon-fonts"> open_in_new </mat-icon>
        <img class="works-img" src="./assets/img/clock-js.JPG" alt="" />
      </div>
    </a>
  </div>
  <div class="works-info">
    <div class="block-information">
      <h4><strong> Название приложения: </strong>Часы</h4>
      <p>
        <strong>Технология:</strong> Приложение разработано на языке JavaScript.
      </p>

      <p><strong>Основные характеристики приложения:</strong></p>
      <ul>
        <li>
          <!-- Верхний блок приложения содержит информацию о текущей дате, времени и
          дне недели. -->
          Верхний блок приложения отображает текущую дату,время и день недели.
        </li>

        <li>
          Нижний блок приложения представляет собой три колоноки. Каждая колонка
          соответствует текущему времени в соответствующей единице (часы,
          минуты, секунды).
        </li>
      </ul>
    </div>
  </div>
</div>
