<div class="works-content">
  <div class="works-link">
    <a
      class="img-link"
      href="https://dictionary-d5ece.web.app/studying"
      target="_blank"
    >
      <div class="image-container">
        <mat-icon class="icon-fonts"> open_in_new </mat-icon>
        <img class="works-img" src="./assets/img/dictionary.JPG" alt="" />
      </div>
    </a>
  </div>
  <div class="works-info">
    <div class="block-information">
      <h4><strong> Название приложения:</strong> Словарь</h4>
      <p>
        <strong>Технология:</strong> Приложение разработано с использованием
        Angular.
      </p>

      <p><strong>Основные характеристики приложения:</strong></p>

      <ul>
        <li>
          Приложение "Словарь" предназначено для изучения английских слов. Все
          слова хранятся на устройстве пользователя. Приложение состоит из трех
          вкладок: "Изучение", "Словарь" и "Избранные".
        </li>

        <li>
          Вкладка "Изучение" предназначена для изучения слов. Слова можно
          изучать как с английского на русский, так и с русского на английский.
          Также можно выбрать случайный порядок слов и повтор слов. Пользователь
          может использовать : "Весь словарь", "Избранные слова", "Работа над
          ошибками" и "Выбрать последние". Слова, в которых были допущены
          ошибки, автоматически добавляются в словарь "Работа над ошибками".
        </li>

        <li>
          Вкладка "Словарь" предназначена для добавления слов и отображает "Весь
          словарь". Также здесь пользователь может выполнять поиск в словаре,
          добавлять слова в избранные, редактировать словарь, удалить выбранное
          слово либо удалить весь словарь полностью.
        </li>
      </ul>
    </div>
  </div>
</div>
