<div class="works-content">
  <div class="works-link">
    <a
      class="img-link"
      href="https://salamatinav.github.io/clock_angular/"
      target="_blank"
    >
      <div class="image-container">
        <mat-icon class="icon-fonts"> open_in_new </mat-icon>
        <img class="works-img" src="./assets/img/clock.JPG" alt="" />
      </div>
    </a>
  </div>
  <div class="works-info">
    <div class="block-information">
      <h4><strong>Название приложения:</strong> Стрелочные Часы</h4>

      <p>
        <strong>Технология:</strong> Приложение разработано с использованием
        Angular.
      </p>

      <p><strong>Основные характеристики приложения:</strong></p>

      <ul>
        <li>
          Приложение представляет собой классические стрелочные часы,
          отображающие текущее время. Дизайн часов включает в себя часовую,
          минутную и секундную стрелки.
        </li>

        <li>
          <strong>Звуковые эффекты:</strong>
          <ul>
            <li>
              По умолчанию звук отключен. Однако, при включении звука,
              пользователь услышит звуковой сигнал, синхронизированный с
              движением секундной стрелки.
            </li>
            <li>
              Когда часы пробивают полный час, приложение воспроизводит звук
              курантов, количество ударов которых соответствует текущему часу.
              Это добавляет атмосферу старинных часов.
            </li>
          </ul>
        </li>

        <li>
          <strong>Будильник:</strong>
          <ul>
            <li>
              Пользователь может устанавливать будильник, который будет
              срабатывать в заданное время, независимо от того, включен звук или
              нет.
            </li>
            <li>
              Для настройки будильника необходимо навести указатель на часы и
              вращать колесико вверх или вниз, чтобы установить желаемое время
              срабатывания будильника.
            </li>
            <li>
              После установки времени будильника, пользователь должен нажать на
              соответствующую кнопку для его активации.
            </li>
            <li>
              Для деактивации будильника нужно произвести действие колесиком
              мыши, либо нажав на кнопку. Если же эти действия не были
              произведены, будильник отключится через две минуты автоматически.
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
