<div class="works-content">
  <div class="works-link">
    <a
      class="img-link"
      href="https://salamatinav.github.io/calculator/"
      target="_blank"
    >
      <div class="image-container">
        <mat-icon class="icon-fonts"> open_in_new </mat-icon>
        <img class="works-img" src="./assets/img/calc.JPG" alt="" />
      </div>
    </a>
  </div>
  <div class="works-info">
    <div class="block-information">
      <h4><strong> Название приложения:</strong> Калькулятор</h4>
      <p>
        <strong>Технология:</strong> Приложение разработано с использованием
        Angular.
      </p>

      <p><strong>Основные характеристики приложения:</strong></p>

      <ul>
        <li>
          Приложение предоставляет функционал для выполнения основных
          арифметических операций, таких как умножение, деление, прибавление и
          вычитание.
        </li>
      </ul>
    </div>
  </div>
</div>
