<div class="works-content">
  <div class="works-link">
    <a
      class="img-link"
      href="https://salamatinav.github.io/image_finder/"
      target="_blank"
    >
      <div class="image-container">
        <mat-icon class="icon-fonts"> open_in_new </mat-icon>
        <img
          class="works-img"
          style="object-fit: fill"
          src="./assets/img/search.JPG"
          alt=""
        />
      </div>
    </a>
  </div>
  <div class="works-info">
    <div class="block-information">
      <h4><strong>Название приложения:</strong> Поиск Изображений</h4>

      <p>
        <strong>Технология:</strong> Приложение разработано с использованием
        Angular
      </p>

      <p><strong>Основные характеристики приложения:</strong></p>

      <ul>
        <li>
          Приложение предназначено для поиска изображений. Полученные
          изображения выводятся на экране пользователя в виде карточек. Каждая
          карточка содержит предварительный просмотр изображения и
          дополнительную информацию, если доступна.
        </li>

        <li>
          Пользователь может сохранять понравившиеся изображения. Сохраненные
          изображения хранятся на устройстве пользователя.
        </li>

        <li>
          Приложение предоставляет вкладку "Сохраненные изображения", где
          пользователь может просматривать и управлять списком сохраненных
          изображений.
        </li>
      </ul>
    </div>
  </div>
</div>
